
<%= content_for :column2 do%>
<% if !@profiles.blank?%>
    <h1 class="h1_first">Contributors</h1>
    <table class= "col2_table_listing">
      <tr>
        <td>
          <ul>
      <% @profiles[0..(@profiles.size/3)].each do |profile| %>
            <li><%= alphabet_header(@profiles, profile)%></li>  
            <li><%= link_to profile.name , profile %></li>
      <% end %>
          </ul>
        </td>
        <td>
          <ul>
      <% @profiles[(@profiles.size/3)+1..(2*@profiles.size/3)].each do |profile| %>
            <li><%= alphabet_header(@profiles, profile)%></li>  
            <li><%= link_to profile.name , profile %></li>
      <% end %>
          </ul>
        </td>
        <td>
          <ul>
      <% @profiles[(@profiles.size/3)*2+1..(@profiles.size)].each do |profile| %>
            <li><%= alphabet_header(@profiles, profile)%></li>  
            <li><%= link_to profile.name , profile %></li>
      <% end %>
          </ul>
        </td>                  
      </tr>
    </table>
    <%end%>
<% end %>










