<%= content_for :column2 do%>
  <% if !@profiles.blank?%>
    <h1 class="h1_first">Contributors</h1>
    Sort by: 
    <%= sort_list @sort_list, 'sort_by', 'Name' %>
    <% @profiles.each do |profile| -%>
    <div class="profile_box">
      <div class="profile_image">
        <%= link_to picture_for(profile.user), profile %>
      </div>
      <div class="profile_name">
        <%= link_to profile.name, profile %>
      </div>
      <div class="profile_description">
        <%= pluralize(profile.contributions_count, "contribution") %>
      </div>
    </div>
    <% end -%>
  <% end %>
<% end %>
