<%= content_for :column1 do %>
  <% if !@contributions.blank? %>
  <h2>Latest Contributions:</h2>
  <div class="col1_content">
    <div class="milestones">
      <% @contributions.each do |contribution|%>
      <div class="milestone_addition">
        <div class="milestone_favicon"><%= contribution_image_type(contribution.action)%></div>
        <div class="milestone_text">
          <strong><%= link_to contribution.contributable.name, contribution.contributable%></strong>
          <%= contribution_word_type(contribution.action)%> CfABase
        </div>
        <div class="meta_milestone">
          Posted <%= time_ago_in_words(contribution.created_at) %> ago
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>

<%= content_for :column2 do %>
  <div class="profile_header">
    <span class="profile_joined">joined <%= time_ago_in_words(@profile.user.created_at) %> ago</span>
    <h1 class="h1_first"><%= @profile.name %></h1>
    <div class="profile_image">
      <%= picture_for @profile.user, 150 %>
    </div>
    <div>
      <p>Here would be a good place for a bio</p>
    </div>
  </div>
  <div class="profile_more">
    <p>Here's a space for more info</p>
  </div>
<% end %>

<%= content_for :column3 do %>
  <h3>Actions</h3>
	<div class="col3_content contribute">
    <% if current_user %><%= link_to 'Edit Your Profile', edit_profile_path(current_user.profile) %><br><% end %>
    <%= link_to 'All Users', profiles_path %><br>
	</div>
<% end %>
