<% form_for [item, Note.new], :html => {:id =>"note-form", :style => "display:none;" } do |f| -%>
<fieldset>
  <legend>Add a Note</legend>
  <a href="#" onClick="$('#note-form').hide();" id="hide">Hide Form</a>
  <p><%= f.label :name, "Title:" %><%=f.text_field :name %> </p> 
  <p><%= f.label :note_type %><%= select("note", "note_type_id", NoteType.all.collect {|p| [ p.name, p.id ] })%>
  </p>  
  <p><%=f.text_area :note %></p>
  <p>
    <%= f.submit 'Create' %>
  </p>
</fieldset>  
<% end %>
