<div id="col1"></div>
<div id="col2">
  <div id="col2_internal">
    <h1 class="h1_first">Edit note</h1>
    <% form_for [@note.noteable, @note], :html => {:id =>"note-form" } do |f| -%>
      <p><%= f.label :name, "Title:" %><%=f.text_field :name %> </p> 
      <p><%=f.text_area :note %></p>
      <p>
        <%= f.submit 'Create' %>
      </p>
    <% end %>

  </div>
</div>
<div id="col3">
  <h3>Actions</h3> 
	<div class="col3_content contribute"> 
    <%= link_to 'New Note', new_note_path %><br>
    <%= link_to 'Back', notes_path %>	
	</div>
  
</div>



