<%= form_for(@link_type) do |f| %>
  <% if @link_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link_type.errors.count, "error") %> prohibited this link_type from being saved:</h2>

      <ul>
      <% @link_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label :name %>: <%= f.text_field :name %></p>
  </div>
  <div class="field">
    <p><%= f.label :description %>: <%= f.text_field :description %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
