<div id="col1"></div>
<div id="col2">
  <div id="col2_internal">
    <h1 class="h1_first">Link Types</h1>
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </tr>
<% @link_types.each do |link_type| %>
        <tr>
          <td><%= link_to link_type.name, link_type %></td>
          <td><%= link_type.description %></td>
          <td><%= link_to 'Edit', edit_link_type_path(link_type) %> | <%= link_to 'Destroy', link_type, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
      </table>
  </div>
</div>
<div id="col3">
  <h3>Actions</h3> 
  	<div class="col3_content contribute"> 
    <%= link_to 'New Link type', new_link_type_path %><br>
  	</div>	
</div>





