<%= content_for :column2 do%>

    <h1 class="h1_first">People</h1>
<% if !@people.blank?%>
    <table class= "col2_table_listing">
      <tr>
        <td>
          <ul>
      <% @people[0..(@people.size/3)].each do |person| %>
            <li><%= alphabet_header(@people, person)%></li>
            <li><%= link_to person.name , person %></li>
      <% end %>
          </ul>
        </td>
        <td>
          <ul>
      <% @people[(@people.size/3)+1..(2*@people.size/3)].each do |person| %>
            <li><%= alphabet_header(@people, person)%></li>
            <li><%= link_to person.name , person %></li>
      <% end %>
          </ul>
        </td>
        <td>
          <ul>
      <% @people[(@people.size/3)*2+1..(@people.size)].each do |person| %>
            <li><%= alphabet_header(@people, person)%></li>
            <li><%= link_to person.name , person %></li>
      <% end %>
          </ul>
        </td>                  
      </tr>
    </table>
    <% end %>
<% end %>





