<%= content_for :column2 do %>
  <h1>Search <%= "(#{params[:search]})" if !(params[:search].nil? || params[:search].empty?) %></h1>

  <div id="search_form_div">
    <%= form_tag search_path, :method => 'get', :id => 'quick_search_form' do %>
      <%= label_tag 'quick_search_input', 'Search' %>
      <%= text_field_tag :search, params[:search], :id => 'quick_search_input' %>
      <%= hidden_field_tag :show_hits, true %>
    <% end %>
  </div>

  <div id="search_results" class="search_results">
    <%= render 'results' %>
  </div>
<% end %>
