<h1 class="title">Twitter Summary</h1>
<table>
  <tr>
    <th><%= sortable 'screen_name', 'Twitter Handle' %></th>
    <th><%= sortable 'org_name', 'Organization Name' %></th>
    <th><%= sortable 'followers_count', 'Followers Count' %></th>
    <th><%= sortable 'following_count', 'Following Count' %></th>
    <th><%= sortable 'statuses_count', 'Number of Posts' %></th>
    <th><%= sortable 'interesting', 'Interestingness' %></th>
    <th><%= sortable 'sway', 'Sway' %></th>
    <th><%= sortable 'outflux', 'Outflux' %></th>
    <th><%= sortable 'feedness', 'Feedness' %></th>
    <th><%= sortable 'chattiness', 'Chattiness' %></th>
  </tr>
<% @stats.each do |stat| %>
  <tr>
    <td><%= twitter_link stat.twitter_stat.screen_name %></td>
    <td><%= link_to stat.organization.name, stat.organization %></td>
    <td><%= stat.followers_count %></td>
    <td><%= stat.following_count %></td>
    <td><%= stat.statuses_count %></td>
    <td><%= stat.get_round(:interesting) %></td>
    <td><%= stat.get_round(:sway) %></td>
    <td><%= stat.get_round(:outflux) %></td>
    <td><%= stat.get_round(:feedness) %></td>
    <td><%= stat.get_round(:chattiness) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @stats %>
