<%= content_for :column2 do %>
  <h1 class="title">Wassup</h1>
  <table>
    <tr>
      <th><%= sortable 'screen_name', 'Twitter Handle' %></th>
      <th><%= sortable 'org_name', 'Organization Name' %></th>
      <th><%= sortable 'followers_count', 'Followers Count' %></th>
      <th><%= sortable 'following_count', 'Following Count' %></th>
      <th><%= sortable 'statuses_count', 'Number of Posts' %></th>
    </tr>
  <% @links.each do |link| %>
    <tr>
      <td><%= twitter_link link.screen_name %></td>
      <td><%= link_to link.linkable.name, link.linkable %></td>
      <td><%= link.followers_count %></td>
      <td><%= link.following_count %></td>
      <td><%= link.statuses_count %></td>
    </tr>
  <% end %>
  </table>
<% end %>
