<div id="col1"></div>
<div id="col2">
  <div id="col2_internal">
    <h1 class="h1_first">contact</h1>
            <p>
        <b>Phone:</b>
        <%= @contact.phone %>
      </p>
            <p>
        <b>Email:</b>
        <%= @contact.email %>
      </p>
            <p>
        <b>Twitter:</b>
        <%= @contact.twitter %>
      </p>
            <p>
        <b>Facebook:</b>
        <%= @contact.facebook %>
      </p>
            <p>
        <b>Linkedin:</b>
        <%= @contact.linkedin %>
      </p>
            <p>
        <b>Contactable:</b>
        <%= @contact.contactable_id %>
      </p>
            <p>
        <b>Contactable type:</b>
        <%= @contact.contactable_type %>
      </p>
        </div>
</div>
<div id="col3">
  <h3>Actions</h3> 
	<div class="col3_content contribute"> 
    <%= link_to 'New Contact', new_contact_path %><br>
    <%= link_to 'Back', contacts_path %><br>
    <%= link_to 'Edit', edit_contact_path(@contact) %>
	</div>
  
</div>



