<% content_for :column2 do%>
    <h1 class="h1_first">Edit whisk</h1>
    <%= form_for @whisk do |f| -%>
      <p><%= f.label :setting, "Setting:" %><%=f.text_field :setting %> </p>       
      <p><%= f.label :whisk_type %><%= select("whisk", "whisk_type_id", WhiskType.all.collect {|p| [ p.name, p.id ] })%></p>        
      <p>
        <%= f.submit 'Create' %>
      </p>
    <% end %>
<%end%>



