<div id="col1"></div>
<div id="col2">
  <div id="col2_internal">
    <h1 class="h1_first"><%= @link.name %></h1>
      <p>
        <b>Url:</b> <%= link_to @link.link_url, @link.link_url %>
      </p>
      <p>
        <b>Link for:</b> <%=link_to @link.linkable.name, @link.linkable %>
      </p>
    </div>
</div>
<div id="col3">
  <h3>Actions</h3> 
	<div class="col3_content contribute"> 
    <%= link_to 'New Link', new_link_path %><br>
    <%= link_to 'Back', links_path %><br>
    <%= link_to 'Edit', edit_link_path(@link) %>
	</div>
  
</div>



