<div id="col1"></div>
<div id="col2">
  <div id="col2_internal">
    <h1 class="h1_first">contribution<h1>
            <p>
        <b>User:</b>
        <%= @contribution.user_id %>
      </p>
            <p>
        <b>Contributalble:</b>
        <%= @contribution.contributalble_id %>
      </p>
            <p>
        <b>Contributable type:</b>
        <%= @contribution.contributable_type %>
      </p>
            <p>
        <b>Action:</b>
        <%= @contribution.action %>
      </p>
        </div>
</div>
<div id="col3">
  <h3>Actions</h3> 
	<div class="col3_content contribute"> 
    <%= link_to 'New Contribution', new_contribution_path %><br>
    <%= link_to 'Back', contributions_path %><br>
    <%= link_to 'Edit', edit_contribution_path(@contribution) %>
	</div>
  
</div>



