<%= content_for :column1 do %>
  <%= render :partial => 'layouts/tag_cloud', :locals => {:item => Organization.tag_counts_on(:tags)} %>
<% end %>
<%= content_for :column2 do %>
<% if !@organizations.blank?%>
    <h1 class="h1_first">Organizations</h1>
    <%= sort_list @org_types, 'org_type_id', 'City' %>
    <%= will_paginate @organizations %>
    <table class= "col2_table_listing">
      <tr>
        <td>
          <ul>
      <% @organizations[0..(@organizations.size/3 - 1)].each do |organization| %>
            <li><%= alphabet_header(@organizations, organization)%></li>
            <li><%= link_to organization.name , organization %></li>
      <% end %>
          </ul>
        </td>
        <td>
          <ul>
      <% @organizations[(@organizations.size/3)..(2*@organizations.size/3 - 1)].each do |organization| %>
            <li><%= alphabet_header(@organizations, organization)%></li>
            <li><%= link_to organization.name , organization %></li>
      <% end %>
          </ul>
        </td>
        <td>
          <ul>
      <% @organizations[(@organizations.size/3)*2..-1].each do |organization| %>
            <li><%= alphabet_header(@organizations, organization)%></li>
            <li><%= link_to organization.name , organization %></li>
      <% end %>
          </ul>
        </td>
      </tr>
    </table>
    <%= will_paginate @organizations %>
<% end %>
<% end %>
