<%= content_for :column2 do%>
<% if !@organizations.blank?%>
    <h1 class="h1_first">Organizations</h1>
    <table class= "col2_table_listing">
      <tr>
        <td>
          <ul>
      <% @organizations[0..(@organizations.size/3)].each do |organization| %>
            <li><%= alphabet_header(@organizations, organization)%></li>  
            <li><%= link_to organization.name , organization %></li>
      <% end %>
          </ul>
        </td>
        <td>
          <ul>
      <% @organizations[(@organizations.size/3)+1..(2*@organizations.size/3)].each do |organization| %>
            <li><%= alphabet_header(@organizations, organization)%></li>  
            <li><%= link_to organization.name , organization %></li>
      <% end %>
          </ul>
        </td>
        <td>
          <ul>
      <% @organizations[(@organizations.size/3)*2+1..(@organizations.size)].each do |organization| %>
            <li><%= alphabet_header(@organizations, organization)%></li>  
            <li><%= link_to organization.name , organization %></li>
      <% end %>
          </ul>
        </td>                  
      </tr>
    </table>
    <%end%>
<% end %>





