<%= content_for :column1 do%>
  <%= render :partial => 'layouts/detail_boxes', :locals => {:item => @organization}%>          
  <%= render :partial => 'relationships'%>            
<% end %>  

<%= content_for :column2 do%>
    <h1 class="h1_first"><%=link_to @organization.name, edit_organization_path(@organization) %></h1>
      <%= render :partial => 'relationship_forms'%>
      <%= render :partial => 'layouts/common_forms', :locals => {:item => @organization}%>
      <%= render :partial => 'notes/note', :locals => {:notes => @organization.notes.about}%>      
      <%= render :partial => 'notes/notes', :locals => {:item => @organization}%>
<% end %>

<%= content_for :column3 do%>
  <%= render :partial => 'layouts/details'%>
	<h3>Add a Relationship</h3> 
	<div class="col3_content contribute"> 
    <a href="#" id="hide_link" onClick="$('#organization-parent-relationship-form').show();">Add an Organization</a><br>
    <a href="#" id="hide_link" onClick="$('#person-parent-relationship-form').show();">Add a Donor or Board Member</a><br>
    <a href="#" id="hide_link" onClick="$('#product-child-relationship-form').show();">Add a Product</a><br>    
	</div>	
<% end %>



