<div id="col1"></div>
<div id="col2">
  <div id="col2_internal">
    <h1 class="h1_first">Note Type: <%= @note_type.name %></h1>
            <p>
        <b>Name:</b>
        <%= @note_type.name %>
      </p>
        </div>
</div>
<div id="col3">
  <h3>Actions</h3> 
	<div class="col3_content contribute"> 
    <%= link_to 'New Note type', new_note_type_path %><br>
    <%= link_to 'Back', note_types_path %><br>
    <%= link_to 'Edit', edit_note_type_path(@note_type) %>
	</div>
  
</div>



