<%= content_for :column1 do %>
  <%= render :partial => 'layouts/tag_cloud', :locals => {:item => Product.tag_counts_on(:tags)} %>
<% end %>
<%= content_for :column2 do %>
<% if !@products.blank?%>
    <h1 class="h1_first">Products</h1>
    <%= will_paginate @products %>
    <table class= "col2_table_listing">
      <tr>
        <td>
          <ul>
      <% @products[0..(@products.size/3 - 1)].each do |product| %>
            <li><%= alphabet_header(@products, product)%></li>
            <li><%= link_to product.name , product %></li>
      <% end %>
          </ul>
        </td>
        <td>
          <ul>
      <% @products[(@products.size/3)..(2*@products.size/3 - 1)].each do |product| %>
            <li><%= alphabet_header(@products, product)%></li>
            <li><%= link_to product.name , product %></li>
      <% end %>
          </ul>
        </td>
        <td>
          <ul>
      <% @products[(@products.size/3)*2..-1].each do |product| %>
            <li><%= alphabet_header(@products, product)%></li>
            <li><%= link_to product.name , product %></li>
      <% end %>
          </ul>
        </td>
      </tr>
    </table>
    <%= will_paginate @products %>
    <% end %>
<% end %>
