<%= content_for :column1 do%>
  <%= render :partial => 'layouts/detail_boxes', :locals => {:item => @product}%>          
  <%= render :partial => 'relationships'%>            
<% end %>  

<%= content_for :column2 do%>
    <h1 class="h1_first"><%=link_to @product.name, edit_product_path(@product) %></h1>
      <%= simple_format(tag_links(@product.taggings))%>
      <%= render :partial => 'tags/tags', :locals => {:item => @product}%>
      <%= render :partial => 'relationship_forms'%>
      <%= render :partial => 'layouts/common_forms', :locals => {:item => @product}%>
      <%= render :partial => 'notes/note', :locals => {:notes => @product.notes}%>      
      <%= render :partial => 'notes/notes', :locals => {:item => @product}%>
<% end %>

<%= content_for :column3 do%>
  <%= render :partial => 'layouts/details'%>
	<h3>Add a Relationship</h3> 
	<div class="col3_content contribute"> 
    <a href="#" id="hide_link" onClick="$('#organization-parent-relationship-form').show();">Add an Organization</a><br>
    <a href="#" id="hide_link" onClick="$('#organization-child-relationship-form').show();">Add an Organization User</a><br>    
    <a href="#" id="hide_link" onClick="$('#product-child-relationship-form').show();">Add a Dependency</a><br>
    <a href="#" id="hide_link" onClick="$('#person-parent-relationship-form').show();">Add a Person</a><br>    
	</div>	
	<% if !@product.whisks.blank?%> 
	<h3>Batter Options</h3>
	<div class="col3_content contribute"> 	
	  <a href="/products/whiskme/<%=@product.id%>">Whisk Me!</a>
  </div>
	<%end%>
	
<% end %>



