<h3>Types</h3> 
<div class="col3_content contribute"> 
  <%= link_to 'Organization Types', org_types_path %><br>
  <%= link_to 'Note Types', note_types_path %><br>
  <%= link_to 'Link Types', link_types_path %><br> 
  <%= link_to 'Relationship Types', relation_types_path %><br>    
</div>
<h3>Add a Type</h3> 
<div class="col3_content contribute"> 
  <%= link_to 'New Organization Type', new_org_type_path %><br>
  <%= link_to 'New Note Type', new_note_type_path %><br>
  <%= link_to 'New Link Type', new_link_type_path %><br> 
  <%= link_to 'New Relationship Type', new_relation_type_path %><br>    
</div>