<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
	<head>
    <title><%= content_for?(:title) ? yield(:title) : "Short Stack" %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!--removes image toolbar in ie6 when hovering over an image-->
		<meta content="OrgBase is the free database of technology organizations, caompanies, people, and foundations." name="description" />
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :all %>


    <%= yield(:head) %>
	</head>
	<body>
    <div id="header">
    	<%= link_to image_tag('codeforamerica.png'), :root%>
    	<div id="session">
    	  <%= render 'layouts/sign_in'%>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </div>

    <%= render 'layouts/search' unless params[:controller] == 'search' %>

    <div id="strip">
    	<div id="strip_right">Browse:
    	  <%= link_to "Organizations", organizations_path %> | <%= link_to "Contributors", profiles_path %> | <%= link_to "Products", products_path %>
    	</div>
    	<a href="/" title="Home" rel="nofollow">Home</a>
    </div>
    <div id="col1">
      <%= yield :column1%>
    </div>
    <div id="col2">
      <div id="col2_internal">
      <%= yield %>
      <%= yield :column2%>
      </div>
    </div>
    <div id="col3">
      <%= render :partial => 'layouts/actions'%>
      <%= yield :column3%>
      <%= render :partial => 'layouts/types'%>
    </div>	
  </body>
</html>
